@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'DM Sans', sans-serif;
  box-sizing: border-box;
}

.slick-dots {
  bottom: -30px !important;
}

.custom-dot-class {
    display: flex !important;
    justify-content: center;
}

.custom-dot-class li {
  display: flex !important;
  justify-content: center;
  list-style-type: none;
  margin: 0 5px;
  padding: 0;
}

.custom-dot-class li.slick-active div div {
  width: 20px;
  border-radius: 8px;
  background-color: #052D2A;
}

.slick-arrow .slick-prev,
.slick-arrow .slick-next {
  display: none;

}

.loader {
  width: 24px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: 
    radial-gradient(farthest-side,#F7F4F0 94%,#0000) top/4px 4px no-repeat,
    conic-gradient(#0000 30%,#F7F4F0);
  -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 4px),#000 0);
  animation: l13 1s infinite linear;
}

@keyframes l13{ 
  100%{transform: rotate(1turn)}
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  z-index: 40;
}

.menu-open + .overlay {
  opacity: 1;
  visibility: visible;
}

@media (min-width: 768px) {
  .overlay {
      display: none;
  }
}

.toggle-checkbox:checked {
  right: 0;
  border-color: #C7893B;
}
.toggle-checkbox:checked + .toggle-label {
  background-color: #C7893B;
}