:root {
  --color-bg-primary: #F7F4F0;
  --color-bg-secondary: #8E786B;
  --color-text-primary: #0f172a;
  --color-text-secondary: #334155;
}

[data-theme='dark'] {
  --color-bg-primary: #052D2A;
  --color-text-primary: #F7F4F0;
  --color-text-secondary: #e2e8f0;
}